langchain
langchain-community
langchain-huggingface
langchainhub
langchain_openai
langchain_ollama

better-profanity
spacy>=3.7.0
pt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0-py3-none-any.whl
sentence-transformers
torchvision
